*{
    box-sizing: border-box;
   
}
body{
     background: linear-gradient(
    137.09deg,
    #fabc32 2.19%,
    #f69b31 51.57%,
    #f16d30 97.86%
    )
}
.container{
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: bisque;

}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}
.btn{
    border: 1px solid #bdb3ee;
    border-radius: 5px;
    min-width: 100px;
    height: 39px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #161414;
    cursor: pointer;
    transition: 0.5s all ease-in;
}
.wrapper .btn:hover{
    background-color: #cac2f4;
    border: 1px solid #9481ee;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    color: #f2f2f2;
}
.wrapper .btn:focus{
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    background: #b2a3ff;
    color: #f2f2f2;
}
.wrapper .btn:active{
    background: #2e04ff;
}
.popup{
    position: fixed;
    top: 10%;
    left: 40%;
     padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  display: none;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.popup__title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}


.popup__button {
  padding: 15px 60px;
  border-radius: 5px;
  border: none;
  background-color: #1c87c9;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

#overlay.show {
  display: block;
}
#yes-btn {
  background-color: transparent;
  color: #1c87c9;
  border: 1px solid #1c87c9;
  border-radius: 5px;
}

#yes-btn:hover {
  background-color: #1c87c9;
  color: #fff;
}

.tab{
  background-color: #2e04ff;
  opacity: 0.8;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{ 
  list-style: none;
  margin-right: 50px;
  border: 1px solid #000;
  padding: 10px;
}
a{
   text-decoration: none;
   cursor: pointer;
}

 li:hover{
  background-color: #2e04ff;
   color: white;
  
}
.tabs_box{
max-width: 300px;
height: 100px;
margin: 0 auto;
border: 1px solid #000;
}
.lin li{
  list-style: none; 
  display: inline-block; 
  padding: 5px 10px; 
  border: 1px solid #333; 
  cursor: pointer;
}
.tabs-content{
  position: relative;
}
.tabs-content .tabs_box {
  opacity: 0; 
  position: absolute; 
  transition: all 0.5s ease-in;
}
.tabs-content .tabs_box:last-child{
  opacity: 1;
} 